@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900');
html{
    scroll-behavior: smooth !important;
    text-rendering: optimizeSpeed;
}
body{
    padding: 0;
    margin: 0; 
    font-family: 'Roboto', sans-serif !important;
    color: #dbdbdb !important;
    background-color: #242526;
    overflow-x: hidden;
}
p{
  font-size: 20px;
  font-weight: 300;
}
.greet{
  font-size: 3rem;
  font-weight: 400;
}
.overlay {
  height: 0%;
  width: 100%;
  padding: 0 3rem;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9);
  overflow-y: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 5%;
  width: 100%;
  text-align: center;
  margin-top: 20px;
}

.overlay a {
  padding: 4px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 2px;
  left: 2.4rem;
  font-size: 38px;
  font-weight:normal;
}

@media screen and (max-height: 450px) {
  .overlay {overflow-y: auto;}
  .overlay a {font-size: 20px}
  .overlay .closebtn {
  font-size: 40px;
  top: 15px;
  right: 35px;
  }
}

.menu-icon,
.menu-icon:focus,
.menu-icon:active,
.menu-icon:focus,
.navbar-toggler {
    outline: none !important;
    box-shadow: none !important;
}
.navbar{
  background-color: transparent !important;
  position: fixed;
  z-index:1;
  padding: 1rem 2rem;
}
.menu-icon{
  font-size: 35px;
  z-index: 100;
}
.master-head{
  height: 100%;
  width: 100%;
  padding: 0 40px;
  display: absolute;
  padding-bottom: 12rem;
  background: linear-gradient(to bottom, rgba(22, 19, 16, 0.9) 50%, rgba(22, 19, 16, 1) 100%), url('https://cdn.pixabay.com/photo/2017/11/27/21/31/computer-2982270_1280.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  overflow: hidden;
}
.profileImage{
  height: 210px;
  width: 237px;
  filter: grayscale(100%);
  
}
.headButton{
  border-radius: 30px;
  margin: 0 10px;
}
.page-section{
  background-color: #18191a !important;
  overflow: hidden;
  padding: 5rem 2rem;
}
.jumbotron{
  border-radius: 5px;
  background-color: #242526;
  padding: 2rem;
}
#skill-set{
  list-style-type: none;
  list-style-position: inside;
  padding-left: 0;
  margin-bottom: 0;
}
#skill-set li{
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: 300;
  font-size: 1.1em;
  line-height: 1px; 
}
#skill-heading{
  color: #dbdbdb !important;
}
#show, #web-dev{
  background-color: #242526; 
  padding-top: 2.5em; 
  padding-bottom: 2.5em;
  height: 250px;
  margin: .7rem 0;
}
#services-p, .card-text{
  font-size: 1.2em;
}
.card{
  overflow: hidden;
  margin: 0 auto;
  
}
.card a{
  text-decoration: none;
  color: #dbdbdb;
}
.card img:hover{
  filter: grayscale(100);
  transform: scale(1.04);
  transition: 0.4s ease;
}
#fb-profile, #ig-profile, #linked-profile{
  text-decoration: none;
  margin-right: 10px;
}
.navbar-brand img{
  height: 150px;
  width: 150px;
}
